.formComment
{
    
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2%;
}

.formComment input
{
    height: 5.5vh;
    margin:2% 0;

}

.formComment button
{
    height: 5vh;
    background-color: #FFD568;
    border: 1px solid #FFD568;
    cursor: pointer;
    font-size: 1em;
}

.formComment button:hover
{
    background-color: #7e6013;
    border-color: #7e6013;
    color: white;
}